.about{

}

.about-img {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about-description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
    border: solid greenyellow 2px;
}

.about-info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
    border: aqua solid 2px;
}

.about-info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    border: darkred solid 2px;
}

.about-info-name {
    font-size: var(--smaller-font-size);
    border: red solid 2px;

}

.about-info-name,
.about-info-title {
    display: block;
    text-align: center;
}

.about-buttons {
    display: flex;
    justify-content: center;
    border: orange solid 2px;
}