@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ci2398');
  src:  url('../fonts/icomoon.eot?ci2398#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ci2398') format('truetype'),
    url('../fonts/icomoon.woff?ci2398') format('woff'),
    url('../fonts/icomoon.svg?ci2398#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-text-alt:before {
  content: "\e926";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-location:before {
  content: "\e947";
}
.icon-location-alt:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-user:before {
  content: "\e971";
}
.icon-bug:before {
  content: "\e999";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-download-alt:before {
  content: "\e9c5";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-brightness-contrast:before {
  content: "\e9d6";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-right-alt:before {
  content: "\ea3c";
}
.icon-arrow-down-alt:before {
  content: "\ea3e";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-move-up:before {
  content: "\ea46";
}
.icon-move-down:before {
  content: "\ea47";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-mail-alt:before {
  content: "\ea86";
}
.icon-google-alt:before {
  content: "\ea89";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-github:before {
  content: "\eab0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
