@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav-menu {
        padding: 2rem .25rem 4rem;
    }

    .nav-list {
        column-gap: 0;
    }

    .home-content {
        grid-template-columns: .25fr 3fr;
    }

    .home-blob {
        width: 180px;
    }

    .skills-title {
        font-size: var(--normal-font-size);
    }

    .qualification-data {
        gap: .5rem;
    }

    /*---------------*/


    /*---------------*/
}